{% extends 'base.html' %}

{% block titulo %}Relatórios - CRM Profissional{% endblock %}
{% block titulo_pagina %}Relatórios{% endblock %}

{% block conteudo %}
<div class="row">
    {% for relatorio in relatorios %}
    <div class="col-6">
        <div class="card mb-20">
            <div class="card-body">
                <div class="d-flex align-center gap-20">
                    <div class="metrica-icone">
                        <i class="{{ relatorio.icone }}"></i>
                    </div>
                    <div>
                        <h3 class="card-title">{{ relatorio.titulo }}</h3>
                        <p>{{ relatorio.descricao }}</p>
                        <a href="{{ relatorio.url }}" class="btn btn-primario btn-pequeno">
                            <i class="fas fa-download"></i> Gerar Relatório
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}